<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>这是一个神秘的网页 </title>
</head>
<body>
    <h1>你居然发现了打开这个网站的密码</h1>
    <h2>好吧实不相瞒这个密码其实就是你输入的，不出所料它应该是{{password}}</h2>
    <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
    <h2>
        恭喜你找到了这本书
        {{book.name}}  书名的长度是 {{book.name | length }} 
        定价为{{book.price}}
    </h2>
    <footer>
        <small>&copy; 2025 <a href="http://helloflask.com/book/3">本网站解释权归Maverick所有</a></small>
    </footer>
</body>
</html>
